<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        Today's Procedures - long format
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
$(document).ready(function(){
    $("tr").click(function(){
        $(this).addClass("blue");
    });
});
</script>
<style>
.blue {color: blue;}
.odd {background-color: azure;}
.even {background-color: beige;}
</style>
</head>
    <body>
        <div class="w3-container">
        <h3>DEC Patients for {{ today_date }} - full data</h3>
        {% set row_class = cycler('odd' ,'even') %}

        <table class="w3-table">
            <tr><th>Time In</th><th>Time Out</th><th>Doctors</th><th>Nurse</th><th>Patient</th>
            <th>Consult</th><th>ASA</th><th>Upper</th><th>Colon</th><th>Polyp</th><th>Anal</th><th>Varix</th><th>Message</th></tr>
            {% for ep in today_data %}
            <tr class="{{row_class.next()}}">
                <td>{{ep["in_theatre"]}}</td>
                <td>{{ep["out_theatre"]}}</td>
                <td>{{ep["doctors"]}}</td>
                <td>{{ep["nurse"]}}</td>
                <td>{{ep["name"]}}</td>
                <td>{{ep["consult"]}}</td>
                <td>{{ep["asa"]}}</td>
                <td>{{ep["upper"]}}</td>
                <td>{{ep["colon"]}}</td>
                <td>{{ep["polyp"]}}</td>
                <td>{{ep["banding"]}}</td>
                <td>{{ep["varix_lot"]}}</td>
                <td>{{ep["message"]}}</td>
            </tr> {% endfor %}
        </table>
        </div>
    <p>
    For clips choose Boston Scientific Resolution Clips use code M00521230
    <p>
    For varix bander  choose Boston Scientific Speedband Superview Super 7
        
    </body>
</html>
